.footer__convenient{
  margin: 0 88px;
  padding: 30px 0;
  display: flex;

  .item{
    max-width: 25%;
    flex-basis: 25%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none ;
    align-items: center ;
    flex-direction: column;
  }

  .img{
    width: 130px;
    height: 88px;
    margin-bottom: 10px;
  }

  .intro{
    max-width: 210px;
    text-align: center;

    h3{
      @extend .textsmall;
      padding: 0;
      margin: 0;
      color: #0f1e29;
    }

    span{
      @extend .textsmall;
      color: #6f787e;
    }
  }
}

.footer__list{
  padding: 20px 88px;
  background-color: #f2f3f4;
  display: flex;

  .footer__list-item{
    max-width: 25%;
    flex-basis: 25%;

    h3{
      @extend .textsmall;
    }

    ul{
      padding: 0;

      li{
        list-style: none;
        @extend .textsmall;
        cursor: pointer;
        margin-bottom: 8px;
        color: #0f1e29;
      }
    }
  }

  .footer__list-download{
    display: flex;
    flex-wrap: wrap;

    .footer__list-download-icon{
      width: 120px;
      height: 40px;
      margin-right: 8px;
      margin-top: 8px;
    }
  }
}

.footer__container{
  padding: 20px 88px;
  background-color: #0f1e29;
  display: flex ;
  justify-content: space-around;

  .company{
    max-width: 41.6667%;
    flex-basis: 41.6667%;
    margin-right: 120px;

    h3{
      color: #fff;
      font-size: 13px;
    }

    ul{
      padding: 0;

      li{
        list-style: none;
        color: #fff;
        font-size: 13px;
        margin-bottom: 15px;
      }
    }
    
    .company-logo{
      display: flex;

      .company-img{
        height: 33px;
        width: 109px;
        margin-right: 20px;
      }
    }
  }

  .login{
    max-width: 50%;
    flex-basis: 50%;

    h3{
      color: #fff;
      font-size: 13px;
    }

    .withlogin{
      display: flex;

      .input{
        border-radius: 4px;
        margin-right: 5px;
        flex: 1;
        padding: 0 10px;
        max-width: 50%;
      }

      .login-btn{
        background-color: #d52220;
        border-radius: 4px;
        padding: 8px 10px;
        max-width: 16.6667%;
        flex-basis: 16.667%;
        align-items: center;
        text-align: center;
        border: none;

        :hover{
          background-color: #f1514f;
        }

        h3{
          margin: 0;
        }
      }
    }
  }
}

.footer__end{
  width: 100%;
  padding: 20px 88px;

  .footer__end-topsearch{
    display: flex;
    align-items: center;

    p{
      font-size: 13px;
      color: #0f1e29;
      font-weight: 600;

      .footer__end-topsearch-icon{
        margin-left: 5px;
        font-size: 8px;
      }
    }
  }

  ul{
    display: flex;
    padding: 0;
    margin: 0;

    li{
      list-style: none;
      font-size: 11px;
      color: #0f62fe;
      margin-right: 16px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.blockchat-btn{
  position: fixed;
  top: 93%;
  right: 1%;
  background-color: #3f81fe;
  border-radius: 4px;
  width: 94px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;

  span{
    color: #fff;
    @extend .textnormal;
    font-weight: 600;
  }

  .blockchat-btn-img{
    margin: 0 5px 0 15px;
  }
}